{% liquid
  assign enable_burger_menu = false
  for block in section.blocks
    if block.type == 'burger_menu'
      assign enable_burger_menu = true
      assign burger_block = block
    endif
  endfor
%}


<header-drawer data-breakpoint="tablet">
  {% liquid
    assign mega_menu_blocks = false
  %}
  <details class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link--text focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        <span class="header__modal-close-button">
          {% render 'icon-close' %}
        </span>
      </span>
    </summary>
    <div id="menu-drawer" class="menu-drawer motion-reduce color-background-1" tabind ex="-1">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    {% for block in section.blocks %}
                      {% liquid
                        assign mega_menu_blocks_trigger = block.settings.mega_menu_blocks_trigger | handle | strip
                        if link.handle == mega_menu_blocks_trigger
                          assign mega_menu_blocks = true
                        endif
                      %}
                    {% endfor %}
                    <details>
                      <summary class="menu-drawer__menu-item list-menu__item link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                        <a
                          href="{{ link.url }}"
                          class="menu-drawer__menu-link h3 link--text list-menu__item focus-inset"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                        {% render 'icon-caret' %}
                      </summary>
                      <div
                        id="link-{{ link.title | escape }}"
                        class="menu-drawer__submenu motion-reduce {% if mega_menu_blocks == true %}menu-drawer__submenu--hidden{% endif %}"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button
                            class="menu-drawer__close-button link link--text focus-inset"
                            aria-expanded="true"
                          >
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul
                            class="menu-drawer__menu list-menu"
                            role="list"
                            tabindex="-1"
                          >
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item h3 link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details>
                                    <summary class="menu-drawer__menu-item link--text list-menu__item focus-inset">
                                      {{ childlink.title | escape }}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ link.title }}-{{ childlink.title | escape }}"
                                      class="menu-drawer__submenu motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item h3 link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                      {% for block in section.blocks %}
                        {% liquid
                          assign mega_menu_blocks = false
                          assign mega_menu_list = false
                          assign mega_menu = false

                          assign mega_menu_trigger = block.settings.mega_menu_trigger | handle | strip
                          assign mega_menu_list_trigger = block.settings.mega_menu_list_trigger | handle | strip
                          assign mega_menu_blocks_trigger = block.settings.mega_menu_blocks_trigger | handle | strip

                          if link.handle == mega_menu_trigger
                            assign mega_menu = true
                            assign mega_menu_list = false
                            assign mega_menu_blocks = false
                          elsif link.handle == mega_menu_list_trigger
                            assign mega_menu_list = true
                            assign mega_menu = false
                            assign mega_menu_blocks = false
                          elsif link.handle == mega_menu_blocks_trigger
                            assign mega_menu_blocks = true
                            assign mega_menu_list = false
                            assign mega_menu = false
                          endif
                        %}

                        {% if mega_menu %}
                          <div class="mega-menu__items mega-menu mega-menu__wrapper--columns">
                            {% if block.settings.show_mega_menu_1 %}
                              <div class="mega-menu__item color-{{ block.settings.color_scheme_1 }} mega-menu__item--{{ block.settings.height }}">
                                <span
                                  class="mega-menu__overlay"
                                  style="
                                    --opacity-slide: {{ block.settings.overlay_opacity_1 }};
                                    --opacity-slide-hover: {{ block.settings.overlay_opacity_1 | plus: 0.1 }}
                                  "
                                ></span>
                                {% if block.settings.image_1 != blank %}
                                  {%- capture sizes -%}
																		(min-width: 1700px) 1700px, (min-width: 1420px) 1420px, (min-width: 1100px) 1100px, (min-width: 710px) 710px, calc(100vw - 30px)
																	{%- endcapture -%}
                                  {{
                                    block.settings.image_1
                                    | image_url: width: block.settings.image_1.width
                                    | image_tag:
                                      loading: 'lazy',
                                      sizes: sizes,
                                      widths: '550, 710, 1100, 1420, 1700, 1920',
                                      width: block.settings.image_1.width,
                                      class: 'mega-menu__item-image'
                                  }}
                                {%- endif -%}
                                {% if block.settings.description_1 != blank %}
                                  <div class="mega-menu__item-description subtitle">
                                    {{ block.settings.description_1 }}
                                  </div>
                                {%- endif -%}
                                {% if block.settings.heading_1 != blank %}
                                  <div class="mega-menu__item-heading h3">
                                    {{ block.settings.heading_1 }}
                                  </div>
                                {%- endif -%}
                                {% if block.settings.show_button and block.settings.button_label != blank %}
                                  <a
                                    {% if block.settings.button_link.url != blank %}
                                      href="{{ block.settings.button_link }}"
                                    {% endif %}
                                    {% if block.settings.button_link.url == blank %}
                                      aria-disabled="true"
                                    {% endif %}
                                    class="mega-menu__button button button--{{ block.settings.button_style }}"
                                  >
                                    <span> {{ block.settings.button_label }} </span>
                                  </a>
                                {% endif %}
                                <a
                                  {% if block.settings.button_link.url != blank %}
                                    href="{{ block.settings.button_link }}"
                                  {% endif %}
                                  class="mega-menu__item-link-overlay"
                                  {% if block.settings.button_link.url == blank %}
                                    aria-disabled="true"
                                  {% endif %}
                                  aria-label="Promo banner"
                                ></a>
                              </div>
                            {% endif %}
                          </div>
                        {% elsif mega_menu_list %}
                          {% if block.settings.show_mega_menu_1
                            or block.settings.show_mega_menu_2
                            or block.settings.show_mega_menu_3
                          %}
                            <div class="mega-menu__items mega-menu">
                              {% if block.settings.show_mega_menu_1 %}
                                <div class="mega-menu__item mega-menu__item--1 color-{{ block.settings.color_scheme_1 }} mega-menu__item--{{ block.settings.height_1 }}">
                                  <span
                                    class="mega-menu__overlay"
                                    style="
                                      --opacity-slide: {{ block.settings.overlay_opacity_1 }};
                                      --opacity-slide-hover: {{ block.settings.overlay_opacity_1 | plus: 0.1 }}
                                    "
                                  ></span>
                                  {% if block.settings.image_1 != blank %}
                                    {%- capture sizes -%}
																				(min-width: 1700px) 1700px, (min-width: 1420px) 1420px, (min-width: 1100px) 1100px, (min-width: 710px) 710px, calc(100vw - 30px)
																			{%- endcapture -%}
                                    {{
                                      block.settings.image_1
                                      | image_url: width: block.settings.image_1.width
                                      | image_tag:
                                        loading: 'lazy',
                                        sizes: sizes,
                                        widths: '550, 710, 1100, 1420, 1700, 1920',
                                        width: block.settings.image_1.width,
                                        class: 'mega-menu__item-image'
                                    }}
                                  {%- endif -%}
                                  {% if block.settings.description_1 != blank %}
                                    <div class="mega-menu__item-description subtitle">
                                      {{ block.settings.description_1 }}
                                    </div>
                                  {%- endif -%}
                                  {% if block.settings.heading_1 != blank %}
                                    <div class="mega-menu__item-heading {{ block.settings.heading_1_size }}">
                                      {{ block.settings.heading_1 }}
                                    </div>
                                  {%- endif -%}
                                  {% if block.settings.show_button_1 and block.settings.button_label_1 != blank %}
                                    <a
                                      {% if block.settings.button_link_1.url != blank %}
                                        href="{{ block.settings.button_link_1 }}"
                                      {% endif %}
                                      class="mega-menu__button button button--{{ block.settings.button_style_1 }}"
                                      {% if block.settings.button_link_1.url == blank %}
                                        aria-disabled="true"
                                      {% endif %}
                                    >
                                     <span> {{ block.settings.button_label_1 | escape }} </span>
                                    </a>
                                  {% endif %}
                                  <a
                                    {% if block.settings.button_link_1.url != blank %}
                                      href="{{ block.settings.button_link_1 }}"
                                    {% endif %}
                                    class="mega-menu__item-link-overlay"
                                    {% if block.settings.button_link_1.url == blank %}
                                      aria-disabled="true"
                                    {% endif %}
                                    aria-label="Promo banner"
                                  ></a>
                                </div>
                              {% endif %}
                              {% if block.settings.show_mega_menu_2 %}
                                <div class="mega-menu__item mega-menu__item--2 color-{{ block.settings.color_scheme_2 }} mega-menu__item--{{ block.settings.height_2 }}">
                                  <span
                                    class="mega-menu__overlay"
                                    style="
                                      --opacity-slide: {{ block.settings.overlay_opacity_2 }};
                                      --opacity-slide-hover: {{ block.settings.overlay_opacity_2 | plus: 0.1 }}
                                    "
                                  ></span>
                                  {% if block.settings.image_2 != blank %}
                                    {%- capture sizes -%}
																				(min-width: 1700px) 1700px, (min-width: 1420px) 1420px, (min-width: 1100px) 1100px, (min-width: 710px) 710px, calc(100vw - 30px)
																			{%- endcapture -%}
                                    {{
                                      block.settings.image_2
                                      | image_url: width: block.settings.image_2.width
                                      | image_tag:
                                        loading: 'lazy',
                                        sizes: sizes,
                                        widths: '550, 710, 1100, 1420, 1700, 1920',
                                        width: block.settings.image_2.width,
                                        class: 'mega-menu__item-image'
                                    }}
                                  {%- endif -%}
                                  {% if block.settings.description_2 != blank %}
                                    <div class="mega-menu__item-description subtitle">
                                      {{ block.settings.description_2 }}
                                    </div>
                                  {%- endif -%}
                                  {% if block.settings.heading_2 != blank %}
                                    <div class="mega-menu__item-heading {{ block.settings.heading_2_size }}">
                                      {{ block.settings.heading_2 }}
                                    </div>
                                  {%- endif -%}
                                  {% if block.settings.show_button_2 and block.settings.button_label_2 != blank %}
                                    <a
                                      {% if block.settings.button_link_2.url != blank %}
                                        href="{{ block.settings.button_link_2 }}"
                                      {% endif %}
                                      class="mega-menu__button button button--{{ block.settings.button_style_2 }}"
                                      {% if block.settings.button_link_2.url == blank %}
                                        aria-disabled="true"
                                      {% endif %}
                                    >
                                      <span> {{ block.settings.button_label_2 | escape }} </span>
                                    </a>
                                  {% endif %}
                                  <a
                                    {% if block.settings.button_link_2.url != blank %}
                                      href="{{ block.settings.button_link_2 }}"
                                    {% endif %}
                                    class="mega-menu__item-link-overlay"
                                    {% if block.settings.button_link_2.url == blank %}
                                      aria-disabled="true"
                                    {% endif %}
                                    aria-label="Promo banner"
                                  ></a>
                                </div>
                              {% endif %}
                              {% if block.settings.show_mega_menu_3 %}
                                <div class="mega-menu__item mega-menu__item--3 color-{{ block.settings.color_scheme_3 }} mega-menu__item--{{ block.settings.height_3 }}">
                                  <span
                                    class="mega-menu__overlay"
                                    style="
                                      --opacity-slide: {{ block.settings.overlay_opacity_3 }};
                                      --opacity-slide-hover: {{ block.settings.overlay_opacity_3 | plus: 0.1 }}
                                    "
                                  ></span>
                                  {% if block.settings.image_3 != blank %}
                                    {%- capture sizes -%}
																				(min-width: 1700px) 1700px, (min-width: 1420px) 1420px, (min-width: 1100px) 1100px, (min-width: 710px) 710px, calc(100vw - 30px)
																			{%- endcapture -%}
                                    {{
                                      block.settings.image_3
                                      | image_url: width: block.settings.image_3.width
                                      | image_tag:
                                        loading: 'lazy',
                                        sizes: sizes,
                                        widths: '550, 710, 1100, 1420, 1700, 1920',
                                        width: block.settings.image_3.width,
                                        class: 'mega-menu__item-image'
                                    }}
                                  {%- endif -%}
                                  {% if block.settings.description_3 != blank %}
                                    <div class="mega-menu__item-description subheading">
                                      {{ block.settings.description_3 }}
                                    </div>
                                  {%- endif -%}
                                  {% if block.settings.heading_3 != blank %}
                                    <div class="mega-menu__item-heading {{ block.settings.heading_3_size }}">
                                      {{ block.settings.heading_3 }}
                                    </div>
                                  {%- endif -%}
                                  {% if block.settings.show_button_3 and block.settings.button_label_3 != blank %}
                                    <a
                                      {% if block.settings.button_link_3.url != blank %}
                                        href="{{ block.settings.button_link_3 }}"
                                      {% endif %}
                                      class="mega-menu__button button button--{{ block.settings.button_style_3 }}"
                                      {% if block.settings.button_link_3.url == blank %}
                                        aria-disabled="true"
                                      {% endif %}
                                    >
                                      <span> {{ block.settings.button_label_3 | escape }} </span>
                                    </a>
                                  {% endif %}
                                  <a
                                    {% if block.settings.button_link_3.url != blank %}
                                      href="{{ block.settings.button_link_3 }}"
                                    {% endif %}
                                    class="mega-menu__item-link-overlay"
                                    {% if block.settings.button_link_3.url == blank %}
                                      aria-disabled="true"
                                    {% endif %}
                                    aria-label="Promo banner"
                                  ></a>
                                </div>
                              {% endif %}
                            </div>
                          {% endif %}
                        {% elsif mega_menu_blocks %}
                          {% liquid
                            assign overlay = block.settings.overlay_opacity
                            assign text_color = block.settings.color_scheme_1
                          %}
                          <div class="mega-menu--blocks">
                            <div
                              class="mega-menu__wrapper mega-menu mega-menu__items mega-menu__wrapper--blocks"
                            >
                              <ul class="mega-menu__list list-unstyled focus-inset">
                                {% for item in block.settings.select_collections %}
                                  <li class="mega-menu__card mega-menu__card--{{ block.settings.height }} color-{{ text_color }}">
                                    <span
                                      class="mega-menu__overlay"
                                      style="
                                        --opacity-slide: {{ overlay }};
                                        --opacity-slide-hover: {{ overlay | plus: 0.1 }}
                                      "
                                    ></span>

                                    {% liquid
                                      if item.id != collection_individual_id
                                        case block.settings.image
                                          when 'product_hover'
                                            assign image_first = item.products[0].images[1]
                                            assign image_second = item.products[0].images[0]
                                            assign image_third = item.featured_image
                                          when 'product'
                                            assign image_first = item.products[0].images[0]
                                            assign image_second = item.featured_image
                                            assign image_third = item.products[0].images[1]
                                          when 'collection'
                                            assign image_first = item.featured_image
                                            assign image_second = item.products[0].images[1]
                                            assign image_third = item.products[0].images[0]
                                        endcase
                                      endif
                                    %}

                                    {% if item.id != collection_individual_id %}
                                      {% if image_first != blank %}
                                        {% assign collection_product_image = image_first %}
                                      {% elsif image_second != blank %}
                                        {% assign collection_product_image = image_second %}
                                      {% else %}
                                        {% assign collection_product_image = image_third %}
                                      {% endif %}
                                    {% else %}
                                      {% assign collection_product_image = item.featured_image %}
                                    {% endif %}

                                    {%- if collection_product_image != blank -%}
                                      <img
                                        srcset="
                                          {%- if collection_product_image.width >= 533 -%}{{ collection_product_image | image_url: width: '533x' }} 533w,{%- endif -%}
                                          {%- if collection_product_image.width >= 720 -%}{{ collection_product_image | image_url: width: '720x' }} 720w,{%- endif -%}
                                          {%- if collection_product_image.width >= 940 -%}{{ collection_product_image | image_url: width: '940x' }} 940w,{%- endif -%}
                                          {%- if collection_product_image.width >= 1066 -%}{{ collection_product_image | image_url: width: '1066x' }} 1066w{%- endif -%},
                                          {%- if collection_product_image.width >= 1100 -%}{{ collection_product_image | image_url: width: '1100x' }} 1100w,{%- endif -%}
                                          {%- if collection_product_image.width >= 1290 -%}{{ collection_product_image | image_url: width: '1290x' }} 1290w,{%- endif -%}
                                          {%- if collection_product_image.width >= 1440 -%}{{ collection_product_image | image_url: width: '1440x' }} 1440w,{%- endif -%}
                                          {%- if collection_product_image.width >= 1600 -%}{{ collection_product_image | image_url: width: '1600x' }} 1600w,{%- endif -%}
                                          {%- if collection_product_image.width >= 1920 -%}{{ collection_product_image | image_url: width: '1920x' }} 1920w{%- endif -%}
                                        "
                                        src="{{ collection_product_image | image_url: width: '533x' }}"
                                        sizes="(min-width: 1100px) 1290px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                        alt="{{ collection_product_image.alt | escape }}"
                                        loading="lazy"
                                        class="mega-menu__image motion-reduce img-scale"
                                        width="{{ collection_product_image.width }}"
                                        height="{{ collection_product_image.height }}"
                                      >
                                    {% endif %}
                                    <h3 class="mega-menu__title h4">
                                      <a
                                        href="{{ item.url | default: '#' }}"
                                        class="mega-menu__link list-menu__item focus-inset caption-large"
                                      >
                                        {{- item.title -}}
                                      </a>
                                    </h3>
                                    {% if block.settings.show_button and block.settings.button_label != blank %}
                                      <a
                                        href="{{ item.url }}"
                                        class="mega-menu__button button button--{{ block.settings.button_style }}"
                                      >
                                       <span> {{ block.settings.button_label }} </span>
                                      </a>
                                    {% endif %}
                                    <a href="{{ item.url | default: '#' }}" class="mega-menu__card-link" aria-label="{{ item.title }}"></a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                      {% liquid
                        assign mega_menu_blocks = false
                      %}
                    </details>
                  {%- else -%}
                    <a
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item h3 link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
            <ul class="menu-drawer__menu list-menu" role="list">
              {%- for link in burger_block.settings.main_menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details>
                      <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                        <a
                          href="{{ link.url }}"
                          class="menu-drawer__menu-link h3 link--text list-menu__item focus-inset"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                        {% render 'icon-caret' %}
                      </summary>
                      <div
                        id="link-{{ link.title | escape }}"
                        class="menu-drawer__submenu motion-reduce {% if mega_menu_blocks == true %}menu-drawer__submenu--hidden{% endif %}"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button
                            class="menu-drawer__close-button link link--text focus-inset"
                            aria-expanded="true"
                          >
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul
                            class="menu-drawer__menu list-menu"
                            role="list"
                            tabindex="-1"
                          >
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item h3 link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details>
                                    <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                      {{ childlink.title | escape }}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ link.title }}-{{ childlink.title | escape }}"
                                      class="menu-drawer__submenu motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item h3 link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item h3 link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>

            {% if burger_block.settings.small_menu != blank %}
              <ul
                class="burger-menu__list burger-menu__list-second list-unstyled"
                role="list"
              >
                {%- for link in burger_block.settings.small_menu.links -%}
                  <li>
                    {%- if link != blank -%}
                      <a
                        href="{{ link.url }}"
                        class=" burger-menu__item burger-menu__link link-hover-line body-xl"
                        {% if link.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        <span>
                          {{ link.title | escape }}
                        </span>
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </nav>

          <div class="menu-drawer__utility-links {% if customer %} menu-drawer__utility-links-customer {% endif %}">
            {%- if shop.customer_accounts_enabled -%}
              {%- if customer -%}
                <div class="menu-drawer__utility-account">
                  <div class="menu-drawer__utility-account-header">
                    <h3 class="menu-drawer__utility-name">
                      {{- customer.name -}}
                    </h3>
  
                  </div>
                  <ul class="menu-drawer__utility-account-body">

                    <li class="menu-drawer__utility-account-link">
                      <a href="{{ routes.account_url }}"  class="link button button--simple">
                        <span>{{ 'customer.account_fallback' | t }}</span>
                      </a>
                    </li>
                    <li class="menu-drawer__utility-account-address">
                      <a href="{{ routes.account_addresses_url }}"  class="link button button--simple">
                        <span>{{- 'customer.addresses.book' | t -}}</span>
                      </a>
                    </li>
                  </ul>
                    <a
                      class="header__account__logout button button--tertiary focus-inset"
                      href="{{ routes.account_logout_url }}"
                    >
                      <span> {{ 'customer.log_out' | t }} </span>
                  </a>
                </div>
              {%- else -%}
                <a
                  href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                  class="button button--tertiary menu-drawer__account link focus-inset"
                >
                  <span> 
                    {%- liquid
                      if customer
                        echo 'customer.account_fallback' | t
                      else
                        echo 'customer.log_in' | t
                      endif
                    -%}
                  </span>
                </a>
                <div class="menu-drawer__account-register">
                  <a href="{{ routes.account_register_url }}" class="link button button--simple">
                    <span>{{- 'customer.login_page.create_account' | t -}}</span>
                  </a>
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>

          <div class="menu-drawer__bottom">
            {%- if section.settings.enable_country_selector
              or section.settings.enable_language_selector
            -%}
              <div class="menu-drawer__localization-wrapper">
								{% render 'header-region', section: section %}
              </div>
            {%- endif -%}
            {% render 'color-scheme' %}
            {% comment %}{%- if section.settings.enable_search -%}
              <div class="header__icons">
                <div class="header__search">
                  <a
                    href="{{ routes.search_url }}"
                    class="header__icon header__icon--search focus-inset"
                    title="{{ 'general.search.search' | t }}"
                    aria-label="{{ 'general.search.search' | t }}"
                  >
                    <span class="link-hover-line">
                      {{- 'sections.header.search' | t -}}
                    </span>
                  </a>
              </div>
              </div>
            {% endif %}{% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
