{% liquid
	assign enable_country_selector = false
	if section.settings.enable_country_selector and localization.available_countries.size > 1
		assign enable_country_selector = true
	endif

	assign enable_language_selector = false
	if section.settings.enable_language_selector and localization.available_languages.size > 1
		assign enable_language_selector = true
	endif

	assign current_country = localization.country
	assign current_currency = localization.country.currency.iso_code | append: ' ' | append: localization.country.currency.symbol
%}

{% if enable_country_selector or enable_language_selector %}
	<div class="header__icons header__region">
		{%- if enable_country_selector -%}
			<details-modal class="header__region" data-breakpoint="region">
				<details>
					<summary
						class="header__icon header__region-summary link--text focus-inset modal__toggle"
						aria-haspopup="dialog"
						role="button"
					>
						<div class="header__localization">
							<div class="localization-form link-hover-line">
								<div class="disclosure">
									<span
										class="header__localization-button disclosure__button disclosure__button-header localization-form__select localization-selector link link--text caption-large focus-inset"
									>
										<span class="currency-country">
											{{- localization.country.currency.name }}
											(
											{{- localization.country.currency.iso_code }}
											{{ localization.country.currency.symbol -}}
											)
										</span>
									</span>
								</div>
							</div>
						</div>
					</summary>
					<div
						class="region-modal"
						role="dialog"
						aria-modal="true"
						aria-label="{{ 'localization.region_label' | t }}"
					>
						<div class="region-modal__wrapper">
							<div class="region-modal__inner color-background-1">
								<div
									class="region-modal__content"
									tabindex="-1"
								>
									<button
										type="button"
										class="region-modal__close modal-close-button focus-inset no-js-hidden"
										aria-label="{{ 'accessibility.close' | t }}"
									>
										{% render 'icon-close' %}
									</button>

									<h3 class="region-modal__heading">
										{{ 'localization.change_region' | t }}
									</h3>

									{% if current_country != blank
										and current_currency != blank
									%}
										<p class="region-modal__text secondary_text">
											{{
												'localization.current'
												| t:
													country: current_country,
													currency: current_currency
											}}
										</p>
									{% endif %}

									<div class="region-modal__selects">
										{% render 'header-localization' %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</details>
			</details-modal>
		{%- endif -%}

		{%- if enable_language_selector -%}
			<details-modal class="header__region" data-breakpoint="region">
				<details>
					<summary
						class="header__icon header__region-summary link--text focus-inset modal__toggle"
						aria-haspopup="dialog"
						role="button"
					>
						<div class="header__localization header__localization--language">
							<div class="localization-form link-hover-line">
								<div class="disclosure">
									<span
										class="disclosure__button disclosure__button-header localization-form__select localization-selector link link--text focus-inset"
									>
										<span class="value">
											{{- localization.language.endonym_name | capitalize }}
										</span>
									</span>
								</div>
							</div>
						</div>
					</summary>
					<div
						class="region-modal"
						role="dialog"
						aria-modal="true"
						aria-label="{{ 'localization.region_label' | t }}"
					>
						<div class="region-modal__wrapper">
							<div class="region-modal__inner color-background-1">
								<div
									class="region-modal__content"
									tabindex="-1"
								>
									<button
										type="button"
										class="region-modal__close modal-close-button focus-inset no-js-hidden"
										aria-label="{{ 'accessibility.close' | t }}"
									>
										{% render 'icon-close' %}
									</button>

									<h3 class="region-modal__heading">
										{{ 'localization.change_language' | t }}
									</h3>

									{% if current_country != blank
										and current_currency != blank
									%}
										<p class="region-modal__text secondary_text">
											{{ 'localization.language' | t }}
										</p>
									{% endif %}

									<div class="region-modal__selects">
										{% render 'header-language' %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</details>
			</details-modal>
		{%- endif -%}
	</div>
{% endif %}
