{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-badge.css' | asset_url | stylesheet_tag }}
{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'template-search.css' | asset_url | stylesheet_tag }}
{{ 'section-404.css' | asset_url | stylesheet_tag }}

{%- if settings.quickview_show or settings.show_on_mobile or settings.type_color_swatch == 'custom' -%}
	{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- style -%}
	{% render 'section-margin' %}
{%- endstyle -%}

<div class="template-404 section-{{ section.id }}-padding template-404-section">
  <div class="container">
		<div class="wrapper-404">
			<div class="page-header">
				<div class="page-header__inner">
					<h1 class="main-page-title page-title title--page h2">
						{{ 'templates.404.title' | t }}
					</h1>
				</div>
			</div>
			<a href="{{ routes.root_url }}" 
				class="button button--tertiary focus-inset button-home-404"
			>
				<span> {{ 'templates.404.btn_txt' | t }}</span>
			</a>
			{% if section.settings.enable_search %}
				{%- if settings.predictive_search_enabled -%}
					<predictive-search class="predictive-search-block" data-loading-text="{{ 'accessibility.loading' | t }}">
					{%- endif -%}
						{%- if  search.performed and search.results_count == 0 and search.filters == empty -%}
							<div class="search-wrapper">
							{% endif %}
								<form action="{{ routes.search_url }}" method="get" role="search" class="search">
									<div class="search__form-inner">
										<div class="field">
											<input
													class="search__input field__input" 
													id="Search-In-404" 
													type="search" 
													name="q" 
													value="{{ search.terms | escape }}" 
													placeholder="{{ 'general.search.placeholder' | t }}"
													{%- if settings.predictive_search_enabled -%}
														role="combobox"
														aria-expanded="false"
														aria-owns="predictive-search-results-list"
														aria-controls="predictive-search-results-list"
														aria-haspopup="listbox"
														aria-autocomplete="list"
														autocorrect="off"
														autocomplete="off"
														autocapitalize="off"
														spellcheck="false"
													{%- endif -%}
											>
											<label class="visually-hidden" for="Search-In-404">{{ 'general.search.search' | t }}</label>
											<input name="options[prefix]" type="hidden" value="last">
	
											<button class="button button--tertiary focus-inset" aria-label="{{ 'general.search.search' | t }}">
												<span> {{ 'general.search.search' | t }} </span>
											</button>
										</div>
									</div>
									{%- if settings.predictive_search_enabled -%}
										<div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
											<div class="predictive-search__loading-state">
												<svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
													<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
												</svg>
											</div>
										</div>
										<span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
									{%- endif -%}
								</form>
							{%- if  search.performed and search.results_count == 0 and search.filters == empty -%}
							</div>
						{% endif %}
				{%- if settings.predictive_search_enabled -%}
				</predictive-search>
				{%- endif -%}
				{% if settings.show_collection_card %}
					<div class="search__items">
						{% if settings.show_collection_card and settings.search_collection_list != blank %}
							<div class="search__categories">
								<div class="search__categories-wrapper">
									<ul class="search__categories-list list-unstyled secondary_text" role="list">
										<li class="search__categories-item popular_search_heading subtitle">
											{{ settings.popular_search_heading }}
										</li>
										{%- for collection in settings.search_collection_list -%}
											<li class="search__categories-item">
												<a
													class="search__categories-link"
													{% if collection.all_products_count > 0 %} 
														href="{{ collection.url }}"
													{% endif %}
												>
													{{ collection.title }}
												</a>
											</li>
										{%- endfor -%}
									</ul>
								</div>
							</div>
						{% endif %}
					</div>
				{%- endif -%}
			{% endif %}
		</div>
  </div>
</div>

{% schema %}
{
  "settings": [
		{
      "type": "checkbox",
      "id": "enable_search",
      "label": "t:sections.header.settings.enable_search.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
		{
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ]
}
{% endschema %}

