{{ 'section-product-carousel.css' | asset_url | stylesheet_tag }}

<script
  src="{{ 'section-product-carousel.js' | asset_url }}"
  defer="defer"
></script>

{%- if settings.quickview_show -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  {% render 'section-margin' %}
{%- endstyle -%}

<section
  class="product-carousel section-container container js-get-section"
  id="section-{{ section.id }}"
  data-section-id="{{ section.id }}"
>
  <div class="product-carousel section-{{ section.id }}-padding">
    <div class="product-carousel__block">
      <div class="product-carousel__text-block product-carousel__text-block--{{ section.settings.image_ratio }}">
				<div class="product-carousel__text-block--wrapper">
					<div class="featured-products__text title-wrapper">
						{%- if section.settings.heading != blank -%}
							{% render 'section-header' %}
						{% endif %}
					</div>

					<div class="product-carousel__button-block">
						{%- if section.settings.text != blank -%}
							<p class="product-carousel__description">
								{{ section.settings.text }}
							</p>
						{%- endif -%}
						{% if section.settings.button_label1 != blank %}
							<div class="product-carousel__button-wrapper">
								<a
									href="{{ section.settings.button_link.url }}"
									class="button button--{{ section.settings.button_style }}"
									{% if section.settings.button_link.url == blank %}
										aria-disabled="true"
									{% endif %}
								>
									<span>{{ section.settings.button_label1 }}</span>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
      </div>

      <div class="product-carousel__wrapper swiper js-swiper-product-carousel">
        <div class="swiper-wrapper">
          {% if section.settings.collection_list != blank %}
            {%- for collection in section.settings.collection_list -%}
              <div
                class="
                  collections-grid__item  collections-grid__item--{{ collection.id }} background color-background-2 swiper-slide
                  {% if section.settings.image_ratio == 'portrait' %} collections-grid__card--portrait {% endif %}
                "
              >
                {% liquid
                  assign image_first = collection.featured_image
                  assign image_second = collection.products[0].media[1]
                  assign image_third = collection.products[0].media[0]
                %}

                {% if image_first != blank %}
                  {% assign collection_product_image = image_first %}
                {% elsif image_second != blank %}
                  {% assign collection_product_image = image_second %}
                {% else %}
                  {% assign collection_product_image = image_third %}
                {% endif %}

								<a
									href="{{ collection.url | default: '#' }}"
									class="collections-grid__link_overlay"
									aria-label="{{ collection.title }}"
									>

									<span class="visibility-hidden">{{ collection.title }}</span>

									<div class="collections-grid__image collections-grid__image--{{ section.settings.image_fit }}  collections-grid__image--{{ section.settings.image_ratio }}">
										{%- if collection_product_image != blank -%}
											{{
												collection_product_image
												| image_url: width: collection_product_image.width
												| image_tag: loading: 'lazy', widths: '360, 550, 750, 900, 1100, 1200'
											}}
										{% endif %}
										<div class="collections-grid__information container">
											<h2 class="collections-grid__title">
													<span>{{- collection.title -}}</span>
											</h2>
											{% if collection.description != blank and section.settings.show_description %}
												<p class="collections-grid__desc">
													{{ collection.description | strip_html | truncatewords: 80, '...' }}
												</p>
											{% endif %}
										</div>
									</div>
									<div class="collection-grid__opacity-overlay" style="background: rgba(var(--color-foreground), {{ section.settings.overlay_opacity }})"></div>
								</a>
              </div>
            {%- endfor -%}
          {% else %}
            {% comment %}
              STEFANO OLDCODE
              aggiunto limit: limit
            {% endcomment %}
            {% assign limit = 10 %}
            {%- for product in section.settings.collection.products limit: limit -%}
              <div
                class="
                  product-carousel__product collection-product-card collection-popular-card featured-products__item featured-products__item--card
                  quickview--hover swiper-slide
                "
              >
                {% render 'product-card',
                  product_card_product: product,
                  media_size: section.settings.image_ratio,
                  media_fit: section.settings.image_fit,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_sku: section.settings.show_sku,
                  show_desc: section.settings.show_desc,
                  section_id: section.id,
								  show_slide: false,
									title_size: "h3"
                %}
              </div>
            {%- else -%}
              {%- for i in (1..3) -%}
                <div class="product-carousel__product swiper-slide collection-product-card collection-popular-card collection-popular-card--placeholder featured-products__item">
                  {% render 'product-card-placeholder', media_size: 'square' %}
                </div>
              {%- endfor -%}
            {%- endfor -%}
          {% endif %}
        </div>
      </div>

      <div class="nav-tools product-carousel_nav-tools">
				<div class="nav-tools__arrows">
          <button
            class="nav-tools__arrow nav-tools__arrow--prev js-product-carousel-arrow-prev button button--simple"
          >
						<span>{{ 'product-carousel.previous' | t }}</span>
          </button>
					<button
            class="nav-tools__arrow nav-tools__arrow--next js-product-carousel-arrow-next button button--simple"
          >
            <span>{{ 'product-carousel.next' | t }}</span>
          </button>
        </div>
        <div class="nav-tools__scroll-cell">
          <div
            class="swiper-scrollbar js-product-carousel-swiper-scrollbar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product-carousel.name",
  "tag": "section",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.product-carousel.settings.collection.label"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "t:sections.header.settings.collection_list.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.header_options.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.product-carousel.settings.subtitle.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Some heading",
      "label": "t:sections.product-carousel.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "text",
      "default": "Some description",
      "label": "t:sections.product-carousel.settings.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.button.header_button.content"
    },
    {
      "type": "text",
      "id": "button_label1",
      "default": "Button label",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.all.button.button_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.button.button_style.options__2.label"
        },
        {
          "value": "tertiary",
          "label": "t:sections.all.button.button_style.options__3.label"
        },
        {
          "value": "simple",
          "label": "t:sections.all.button.button_style.options__4.label"
        }
      ],
      "default": "tertiary",
      "label": "t:sections.image-banner.settings.button_style.label"
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "landscape",
          "label": "t:sections.product-recommendations.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.product-recommendations.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.product-recommendations.settings.image_ratio.options__3.label"
        }
      ],
      "default": "portrait",
      "label": "t:sections.product-recommendations.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "t:sections.product-carousel.settings.image_fit.label",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.product-carousel.settings.image_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.product-carousel.settings.image_fit.options__2.label"
        }
      ],
      "default": "cover"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.product-recommendations.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.product-recommendations.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "default": false,
      "label": "t:sections.product-carousel.settings.show_sku.label"
    },
    {
      "type": "checkbox",
      "id": "show_desc",
      "default": false,
      "label": "t:sections.product-recommendations.settings.show_desc.label"
    },
		{
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.3,
      "label": "t:sections.all.overlay_opacity.label",
      "info": "t:sections.contact-form.settings.overlay_opacity.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "m",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-carousel.name"
    }
  ]
}
{% endschema %}
