{{ 'product-popup.css' | asset_url | stylesheet_tag }}

<script src="{{ 'product-popup.js' | asset_url }}" defer="defer"></script>

{%- style -%}
	{% render 'section-margin' %}
{%- endstyle -%}
{% assign count = 0 %}
{%- for block in section.blocks -%}
		{% assign count = count | plus: 1 %}
{%- endfor -%}

<div class="product-popup product-popup--full-screen-image  section-{{ section.id }} product-popup--{{ count }}">
	{% for block in section.blocks %}
		<modal-opener
			class="no-js-hidden"
			data-modal="#PopupModal-{{ section.id }}-{{ forloop.index }}"
			{{ section.shopify_attributes }}
		>
			<div
				class="product-popup__gallery product-popup__gallery--{{ section.settings.aspect_ratio }}"
				data-id="{{ section.id }}"
			>
				{% assign image_height = block.settings.image.width
					| divided_by: block.settings.image.aspect_ratio
				%}
				<div class="product-popup__gallery--image-wrapper">
					{% if block.settings.image != blank %}
						{{
							block.settings.image
							| image_url: width: 3840
							| image_tag:
								class: 'product-popup__image',
								loading: 'lazy',
								width: block.settings.image.width,
								height: image_height,
								sizes: '100vw,(min-width: 990px) 50vw',
								widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
						}}
					{% else %}
						{{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
					{% endif %}
					<div
						class="product-popup__overlay"
						style="opacity: {{ block.settings.overlay_opacity }}"
					></div>
				</div>
				<div class="product-popup__info color-background-2 container">
					<div class="product-popup__info--wrapper">
						<div class="product-popup__content">
							{%- if block.settings.heading != blank -%}
								<div class="product-popup__top">
									<h2 class="product-popup__heading {{ block.settings.heading_size }}">
										{{ block.settings.heading }}
									</h2>
								</div>
							{% endif %}

							{% if block.settings.description != blank %}
								<div class="product-popup__description">
									{{ block.settings.description }}
								</div>
							{% endif %}
							{% if block.settings.button_label != blank %}
								<div class="banner-popup-product">
									<button
										id="ModalPopup-{{ section.id }}"
										class="product-popup__button button button--{{ block.settings.button_style }}{% if block.settings.button_style == 'simple' %} button--arrow {% endif %} focus-inset"
										type="button"
										aria-haspopup="dialog"
									>
										<span>{{ block.settings.button_label }}</span>
									</button>
									<div class="banner-popup-product-modal__content-info no-js">
										<div class="banner-popup-product-modal__heading">
											{% if block.settings.popup_heading != blank %}
												<h3 class="banner-popup-product-modal__title">
													{{ block.settings.popup_heading }}
												</h3>
											{% endif %}
											<button
												id="ModalClose-{{ section.id }}"
												type="button"
												class="banner-popup-product-modal__close modal-close-button focus-inset"
												aria-label="{{ 'accessibility.close' | t }}"
											>
												{% render 'icon-close' %}
											</button>
										</div>
										<div class="product-popup-recommendations__list-card">
											{% for product in block.settings.products_list %}
												<div class="collection-product-card product-recommendations__product quickview--hover">
													{% render 'product-card',
														product_card_product: product,
														media_size: settings.cart_image_ratio,
														media_fit: settings.cart_image_fit,
														show_vendor: settings.cart_show_vendor,
														show_slide: false
													%}
												</div>
											{% endfor %}
										</div>
									</div>

									{% for block in section.blocks %}
										<modal-dialog
										id="PopupModal-{{ section.id }}-{{ forloop.index }}"
										class="banner-popup-product-modal"
									>
										<div
											role="dialog"
											aria-label="{{ block.settings.label }}"
											aria-modal="true"
											class="banner-popup-product-modal__content"
											tabindex="-1"
										>
											<div class="banner-popup-product-modal__content-info">
												<div class="banner-popup-product-modal__heading">
													{% if block.settings.popup_heading != blank %}
														<h3 class="banner-popup-product-modal__title">
															{{ block.settings.popup_heading }}
														</h3>
													{% endif %}
													<button
														id="ModalClose-{{ section.id }}"
														type="button"
														class="banner-popup-product-modal__close modal-close-button focus-inset"
														aria-label="{{ 'accessibility.close' | t }}"
													>
														{% render 'icon-close' %}
													</button>
												</div>
												<div class="product-popup-recommendations__list-card">
													{% for product in block.settings.products_list %}
														<div class="collection-product-card product-recommendations__product quickview--hover">
															{% render 'product-card',
																product_card_product: product,
																media_size: settings.cart_image_ratio,
																media_fit: settings.cart_image_fit,
																show_vendor: settings.cart_show_vendor,
																show_slide: false
															%}
														</div>
													{% endfor %}
												</div>
											</div>
										</div>
									</modal-dialog>
									{% endfor %}
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</modal-opener>
	{% endfor %}
</div>

{% schema %}
{
	"name": "t:sections.product-popup.name",
	"tag": "section",
	"class": "product-popup-section spaced-section",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "select",
			"id": "aspect_ratio",
			"label": "t:sections.image-with-text.settings.aspect_ratio.label",
			"default": "full",
			"options": [
				{
					"value": "full",
					"label": "t:sections.image-with-text.settings.aspect_ratio.options__1.label"
				},
				{
					"value": "large",
					"label": "t:sections.image-with-text.settings.aspect_ratio.options__2.label"
				},
				{
					"value": "medium",
					"label": "t:sections.image-with-text.settings.aspect_ratio.options__3.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "m",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "item",
			"name": "t:sections.product-popup.blocks.item.name",
			"limit": 2,
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.all.image.label"
				},
				{
					"type": "range",
					"id": "overlay_opacity",
					"default": 0.1,
					"min": 0,
					"max": 1,
					"step": 0.1,
					"label": "t:sections.all.overlay_opacity.label"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "t:sections.all.heading.label"
				},
				{
					"type": "select",
					"id": "heading_size",
					"options": [
						{
							"value": "h1",
							"label": "t:sections.all.heading_size.options__1.label"
						},
						{
							"value": "h2",
							"label": "t:sections.all.heading_size.options__2.label"
						},
						{
							"value": "h3",
							"label": "t:sections.all.heading_size.options__3.label"
						}
					],
					"default": "h1",
					"label": "t:sections.all.heading_size.label"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "t:sections.all.description.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.button.header_button.content"
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "Some label",
					"label": "t:sections.all.button.button_label.label"
				},
				{
					"type": "select",
					"id": "button_style",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						},
						{
							"value": "simple",
							"label": "t:sections.all.button.button_style.options__4.label"
						}
					],
					"default": "tertiary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "header",
					"content": "t:sections.product-popup.settings.popup_options.label"
				},
				{
					"type": "text",
					"id": "popup_heading",
					"default": "Popup heading",
					"label": "t:sections.product-popup.settings.popup_heading.label"
				},
				{
					"type": "product_list",
					"id": "products_list",
					"label": "t:sections.product-popup.settings.select_products.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.product-popup.name",
			"blocks": [
				{
					"type": "item"
				}
			]
		}
	]
}
{% endschema %}
