<link
	rel="stylesheet"
	href="{{ 'component-badge.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>
<link
	rel="stylesheet"
	href="{{ 'component-card.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>
<link
	rel="stylesheet"
	href="{{ 'component-price.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>
<link
	rel="stylesheet"
	href="{{ 'section-product-recommendations.css' | asset_url }}"
	media="print"
	onload="this.media='all'"
>

<noscript>{{ 'component-badge.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>
	{{- 'section-product-recommendations.css' | asset_url | stylesheet_tag -}}
</noscript>

{%- if settings.quickview_show
	or settings.show_on_mobile
	or settings.type_color_swatch == 'custom'
-%}
	{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{% endif %}

{%- style -%}
	{% render 'section-margin' %}
{%- endstyle -%}

<product-recommendations
	class="product-recommendations"
	data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}"
>
	<div class="container">
		{% render 'section-header' %}
		<div class="product-recommendations__content">
			{% if recommendations.performed and recommendations.products_count > 0 %}
				<ul
					class="
						product-recommendations__wrapper
						product-recommendations__wrapper--{{ section.settings.products_to_show }}
						product-recommendations--{{ section.settings.columns_mobile }}-mobile
						list-unstyled
					"
				>
					{% for recommendation in recommendations.products
						limit: section.settings.products_limit
					%}
						<li
							class="
              product-recommendations__item collection-product-card
								quickview{%- if settings.on_hover == "hover" -%}--hover{% endif %}
							"
						>
							{% render 'product-card',
								product_card_product: recommendation,
								media_size: section.settings.image_ratio,
								media_fit: section.settings.image_fit,
								show_vendor: section.settings.show_vendor,
								show_color_count: section.settings.show_color_count,
								show_size_count: section.settings.show_size_count,
								show_collection: section.settings.show_collection,
								show_desc: section.settings.show_desc,
								section_id: section.id
							%}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
</product-recommendations>

{% schema %}
{
	"name": "t:sections.product-recommendations.name",
	"tag": "section",
	"class": "spaced-section section-product-recommendations no-js-hidden",
	"enabled_on": {
		"templates": ["product"]
	},
	"settings": [
		{
			"type": "paragraph",
			"content": "t:sections.product-recommendations.settings.paragraph__1.content"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "t:sections.all.subheading.label"
		},
		{
			"type": "text",
			"id": "heading",
			"default": "You May Also Like",
			"label": "t:sections.all.heading.label"
		},
		{
			"type": "inline_richtext",
			"id": "description",
			"label": "t:sections.all.text.label"
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h1",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "range",
			"id": "products_limit",
			"min": 4,
			"max": 12,
			"step": 1,
			"default": 6,
			"label": "t:sections.product-recommendations.settings.products_limit.label"
		},
		{
			"type": "range",
			"id": "products_to_show",
			"min": 1,
			"max": 6,
			"step": 1,
			"default": 6,
			"label": "t:sections.popular-products.settings.products_to_show.label"
		},
		{
			"type": "header",
			"content": "t:sections.product-recommendations.settings.header__2.content"
		},
		{
			"type": "select",
			"id": "image_ratio",
			"options": [
				{
					"value": "landscape",
					"label": "t:sections.all.card.image_ratio.options__1.label"
				},
				{
					"value": "portrait",
					"label": "t:sections.all.card.image_ratio.options__2.label"
				},
				{
					"value": "square",
					"label": "t:sections.all.card.image_ratio.options__3.label"
				}
			],
			"default": "portrait",
			"label": "t:sections.all.card.image_ratio.label"
		},
		{
			"type": "select",
			"id": "image_fit",
			"label": "t:sections.all.card.image_fit.label",
			"options": [
				{
					"value": "contain",
					"label": "t:sections.all.card.image_fit.options__1.label"
				},
				{
					"value": "cover",
					"label": "t:sections.all.card.image_fit.options__2.label"
				}
			],
			"default": "cover"
		},
		{
			"type": "checkbox",
			"id": "show_vendor",
			"default": false,
			"label": "t:sections.all.card.show_vendor.label"
		},
		{
			"type": "checkbox",
			"id": "show_color_count",
			"default": true,
			"label": "t:sections.all.card.show_color_count.label"
		},
		{
			"type": "checkbox",
			"id": "show_size_count",
			"default": false,
			"label": "t:sections.all.card.show_size_count.label"
		},
		{
			"type": "checkbox",
			"id": "show_collection",
			"default": false,
			"label": "t:sections.all.card.show_collection.label"
		},
		{
			"type": "checkbox",
			"id": "show_desc",
			"default": false,
			"label": "t:sections.all.card.show_desc.label"
		},
		{
			"type": "header",
			"content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
		},
		{
			"type": "select",
			"id": "columns_mobile",
			"default": "1",
			"label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
			"options": [
				{
					"value": "1",
					"label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
				},
				{
					"value": "2",
					"label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.button.header_button.content"
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "t:sections.all.button.button_label.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:sections.all.button.button_link.label"
		},
		{
			"type": "select",
			"id": "button_style",
			"options": [
				{
					"value": "primary",
					"label": "t:sections.all.button.button_style.options__1.label"
				},
				{
					"value": "secondary",
					"label": "t:sections.all.button.button_style.options__2.label"
				},
				{
					"value": "tertiary",
					"label": "t:sections.all.button.button_style.options__3.label"
				},
				{
					"value": "simple",
					"label": "t:sections.all.button.button_style.options__4.label"
				}
			],
			"default": "simple",
			"label": "t:sections.image-banner.settings.button_style.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
    {
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
			],
			"default": "m",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
			],
			"default": "m",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	]
}
{% endschema %}
