{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}
<script
	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
	type="text/javascript"
	defer="defer"
></script>

<script src="{{ 'slideshow.js' | asset_url }}" defer="defer"></script>

<style>
	 {% render 'section-margin' %}
	.section-{{ section.id }} .slideshow__image, .slideshow__overlay {
		transition-duration: {{ section.settings.slideshow_speed | plus: section.settings.slideshow_delay }}s !important;
	 }
</style>
{% assign layout = section.settings.layout %}
{% assign index_count = 0 %}
{% assign count = 0 %}
{%- for block in section.blocks -%}
	{% if block.type == 'image' %}
		{% assign count = count | plus: 1 %}
	{%- endif -%}
{%- endfor -%}

{% liquid
	assign slideshow_speed = section.settings.slideshow_speed
	assign autoplay = section.settings.is_autoplay
	assign stop_autoplay = section.settings.is_hover_stop_autoplay
	assign slideshow_delay = section.settings.slideshow_delay
%}

<div
	class="
		slideshow  slideshow--{{ section.settings.aspect_ratio }} slideshow--{{ layout }} background color-{{ section.settings.text_color_scheme }} section-{{ section.id }}
		{%- if section.settings.header_overlay %} section--has-overlay {% endif -%}
	"
	data-autoplay="{{ autoplay }}"
	data-stop-autoplay="{{ stop_autoplay }}"
	data-speed="{{ slideshow_speed }}"
	data-delay="{{ slideshow_delay }}"
	data-effect="{{ section.settings.slide_effects }}"
>
	<div class="slideshow__tabs-wrapper swiper container">
		<div class="swiper-wrapper">
			{% for block in section.blocks %}
				{% if block.settings.tab_subheading != blank
					or block.settings.tab_heading != blank
				%}
					<div
						class="slideshow__tab swiper-slide"
						data-anchor="{{ forloop.index }}"
					>
						<p class="subtitle">{{ block.settings.tab_subheading }}</p>
						<p class="{{ section.settings.tabs_size }}">
							{{ block.settings.tab_heading }}
						</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="slideshow__contents-wrapper swiper">
		<div class="swiper-wrapper">
			{% for block in section.blocks %}
				{% assign index_count = index_count | minus: 1 %}
				{% assign placeholder_num = index_count | modulo: 3 %}
				{% assign placeholder_num = 3 | minus: placeholder_num %}
				{% assign image_placeholder = 'hero-apparel-'
					| append: placeholder_num
				%}

				<div
					class="slideshow__content swiper-slide"
					data-tab="{{ forloop.index }}"
				>
					{% if block.settings.show_video == true %}
						{% if block.settings.video != blank
							or block.settings.video_url != blank
						%}
							{% liquid
								assign muted = true
								assign autoPlay = true
								assign playsinline = false
								assign loop_video = true
							%}
							<div class="slideshow__video-wrapper">
								<div
									class="slideshow__video autoplay"
									data-video-id="{{ block.settings.video.id }}"
								>
									{% if block.settings.video != blank %}
										{{
											block.settings.video
											| video_tag:
												image_size: '1920x',
												autoplay: autoPlay,
												loop: loop_video,
												muted: muted,
												playsinline: playsinline
										}}
									{% else %}
										{%- if block.settings.video_url.type == 'youtube' -%}
											<iframe
												src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&autoplay=1&mute=1&controls=0&playlist={{ block.settings.video_url.id }}&loop=1&rel=0"
												class="js-youtube video-muted"
												allow="autoplay; encrypted-media"
												allowfullscreen
												title="{{ block.settings.description_video | escape }}"
												data-id="{{ block.settings.video_url.id }}"
											></iframe>
										{%- else -%}
											<iframe
												src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=true&mute=true&controls=false&loop=true"
												class="js-vimeo video-muted"
												allow="autoplay; encrypted-media"
												allowfullscreen
												title="{{ block.settings.description_video | escape }}"
												data-id="{{ block.settings.video_url.id }}"
											></iframe>
										{%- endif -%}
									{% endif %}
								</div>
							</div>
						{% endif %}
					{% endif %}

					<div class="slideshow__image-wrapper">
						{% if block.settings.image != blank %}
							{{
								block.settings.image
								| image_url: width: block.settings.image.width
								| image_tag:
									class: 'slideshow__image',
									loading: 'lazy',
									sizes: '100vw',
									widths: '1100, 1500, 1780, 2000, 3000, 3840, 4200, 5000'
							}}
						{% else %}
							{{
								image_placeholder
								| placeholder_svg_tag: 'placeholder-svg slideshow__image'
							}}
						{% endif %}
					</div>
					{% if block.settings.tab_subheading != blank
						or block.settings.tab_heading != blank
					%}
						<div class="slideshow__mob-tab-wrapper">
							<div
								class="slideshow__tab swiper-slide slideshow__tab--mob"
								data-anchor="{{ forloop.index }}"
							>
								<p class="subtitle">{{ block.settings.tab_subheading }}</p>
								<p class="{{ section.settings.tabs_size }}">
									{{ block.settings.tab_heading }}
								</p>
							</div>
						</div>
					{% endif %}
					<div class="container slideshow__info--wrapper">
						<div class="slideshow__info">
							{% if block.settings.heading != blank %}
								<div class="slideshow__item-heading slide-up-animated {{ section.settings.heading_size }}">
									{{ block.settings.heading }}
								</div>
							{% endif %}
							{% if block.settings.description != blank %}
								<div class="slideshow__description secondary_text slide-up-animated">
									{{ block.settings.description }}
								</div>
							{% endif %}
							{% if block.settings.button_label != blank %}
								<a
									{% if block.settings.button_link.url != blank %}
										href="{{ block.settings.button_link }}"
									{% endif %}
									{% if block.settings.button_link.url == blank %}
										aria-disabled="true"
									{% endif %}
									class="button button--{{ block.settings.button_style }} focus-inset slideshow__button slide-up-animated"
								>
									<span>{{ block.settings.button_label }}</span>
								</a>
							{% endif %}
						</div>
					</div>

					<div
						class="slideshow__overlay"
						style="opacity: {{ block.settings.overlay_opacity }}"
					>
							{% if block.settings.enable_fullscreen_link and block.settings.button_link.url != blank %}
								<a href="{{ block.settings.button_link.url }}" class="slideshow__overlay-link"></a>
							{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="swiper-pagination slideshow__pagination"></div>
	</div>
</div>

{%- if section.settings.header_overlay == true %}
	{% render 'section-overlay' %}
{% endif -%}

{% schema %}
{
	"name": "t:sections.slideshow.name",
	"tag": "section",
	"class": "slideshow-section spaced-section sticky-section",
	"max_blocks": 10,
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "header_overlay",
			"label": "t:sections.all.header_overlay.label",
			"info": "t:sections.all.header_overlay.info",
			"default": true
		},
		{
			"type": "color_scheme",
			"id": "text_color_scheme",
			"default": "background-2",
			"label": "t:sections.all.text_color_scheme.label"
		},
		{
			"type": "select",
			"id": "layout",
			"label": "t:sections.slideshow.settings.layout.label",
			"default": "layout_1",
			"options": [
				{
					"value": "layout_1",
					"label": "t:sections.slideshow.settings.layout.option__1"
				},
				{
					"value": "layout_3",
					"label": "t:sections.slideshow.settings.layout.option__3"
				},
				{
					"value": "layout_2",
					"label": "t:sections.slideshow.settings.layout.option__2"
				},
				{
					"value": "layout_4",
					"label": "t:sections.slideshow.settings.layout.option__4"
				},
				{
					"value": "layout_5",
					"label": "t:sections.slideshow.settings.layout.option__5"
				}
			]
		},
		{
			"type": "select",
			"id": "aspect_ratio",
			"label": "t:sections.image-with-text.settings.aspect_ratio.label",
			"default": "full",
			"options": [
				{
					"value": "full",
					"label": "t:sections.image-with-text.settings.aspect_ratio.options__1.label"
				},
				{
					"value": "large",
					"label": "t:sections.image-with-text.settings.aspect_ratio.options__2.label"
				},
				{
					"value": "medium",
					"label": "t:sections.image-with-text.settings.aspect_ratio.options__3.label"
				}
			]
		},
		{
			"type": "select",
			"id": "heading_size",
			"options": [
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			],
			"default": "h1",
			"label": "t:sections.all.heading_size.label"
		},
		{
			"type": "select",
			"id": "tabs_size",
			"default": "h3",
			"label": "t:sections.slideshow.blocks.slideshow-item.tabs_size.label",
			"options": [
				{
					"value": "h1",
					"label": "t:sections.all.heading_size.options__1.label"
				},
				{
					"value": "h2",
					"label": "t:sections.all.heading_size.options__2.label"
				},
				{
					"value": "h3",
					"label": "t:sections.all.heading_size.options__3.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.all.slider_options.header.content"
		},
		{
			"type": "checkbox",
			"id": "is_autoplay",
			"default": true,
			"label": "t:sections.all.slider_options.slider_is_autoplay.label"
		},
		{
			"type": "checkbox",
			"id": "is_hover_stop_autoplay",
			"default": false,
			"label": "t:sections.all.slider_options.slider_hover_autoplay_stop.label"
		},
		{
			"type": "range",
			"id": "slideshow_speed",
			"min": 1,
			"max": 6,
			"step": 0.1,
			"default": 1.1,
			"unit": "s",
			"label": "t:sections.all.slider_options.speed.label"
		},
		{
			"type": "range",
			"id": "slideshow_delay",
			"min": 0,
			"max": 8,
			"step": 0.1,
			"default": 3,
			"unit": "s",
			"label": "t:sections.all.slider_options.delay.label"
		},
		{
			"type": "select",
			"id": "slide_effects",
			"options": [
				{
					"value": "slide",
					"label": "t:sections.all.slider_options.effects.options.options__1.label"
				},
				{
					"value": "fade",
					"label": "t:sections.all.slider_options.effects.options.options__2.label"
				}
			],
			"default": "slide",
			"label": "t:sections.all.slider_options.effects.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.section-margin.header.content"
		},
		{
			"type": "select",
			"id": "margin_top",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_top.label"
		},
		{
			"type": "select",
			"id": "margin_bottom",
			"options": [
				{
					"value": "no-indent",
					"label": "t:sections.all.section-margin.options__1.label"
				},
				{
					"value": "xs",
					"label": "t:sections.all.section-margin.options__2.label"
				},
				{
					"value": "s",
					"label": "t:sections.all.section-margin.options__3.label"
				},
				{
					"value": "m",
					"label": "t:sections.all.section-margin.options__4.label"
				},
				{
					"value": "l",
					"label": "t:sections.all.section-margin.options__5.label"
				},
				{
					"value": "xl",
					"label": "t:sections.all.section-margin.options__6.label"
				}
			],
			"default": "no-indent",
			"label": "t:sections.all.section-margin.margin_bottom.label"
		}
	],
	"blocks": [
		{
			"type": "slideshow-item",
			"name": "t:sections.slideshow.blocks.slideshow-item.name",
			"limit": 10,
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:sections.all.image.label"
				},
				{
					"type": "range",
					"id": "overlay_opacity",
					"min": 0,
					"max": 1,
					"step": 0.1,
					"default": 0.2,
					"label": "t:sections.all.overlay_opacity.label"
				},
				{
					"type": "header",
					"content": "t:sections.slideshow.settings.video.header_video.content"
				},
				{
					"type": "header",
					"content": "t:sections.slideshow.settings.video.header__1.content"
				},
				{
					"type": "checkbox",
					"id": "show_video",
					"label": "t:sections.slideshow.settings.video.show_video.label",
					"default": false
				},
				{
					"type": "video",
					"id": "video",
					"label": "t:sections.slideshow.settings.video.video.label"
				},
				{
					"type": "header",
					"content": "t:sections.slideshow.settings.video.header__2.content"
				},
				{
					"type": "paragraph",
					"content": "t:sections.slideshow.settings.video.paragraph.label"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"accept": ["youtube", "vimeo"],
					"default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
					"label": "t:sections.slideshow.settings.video.video_url.label",
					"info": "t:sections.slideshow.settings.video.video_url.info"
				},
				{
					"type": "text",
					"id": "description_video",
					"label": "t:sections.slideshow.settings.video.description_video.label",
					"info": "t:sections.slideshow.settings.video.description_video.info"
				},
				{
					"type": "header",
					"content": "t:sections.slideshow.settings.content_info.label"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "t:sections.all.heading.label",
					"default": "Some heading"
				},
				{
					"type": "richtext",
					"id": "description",
					"default": "<p>Description</p>",
					"label": "t:sections.all.description.label"
				},
				{
					"type": "header",
					"content": "t:sections.slideshow.blocks.slideshow-item.tabs_info.label"
				},
				{
					"type": "text",
					"id": "tab_subheading",
					"default": "Subheading",
					"label": "t:sections.all.subheading.label"
				},
				{
					"type": "text",
					"id": "tab_heading",
					"default": "Heading",
					"label": "t:sections.all.heading.label"
				},
				{
					"type": "header",
					"content": "t:sections.all.button.header_button.content"
				},
				{
					"type": "text",
					"id": "button_label",
					"default": "Button",
					"label": "t:sections.all.button.button_label.label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "t:sections.all.button.button_link.label"
				},
				{
					"type": "select",
					"id": "button_style",
					"options": [
						{
							"value": "primary",
							"label": "t:sections.all.button.button_style.options__1.label"
						},
						{
							"value": "secondary",
							"label": "t:sections.all.button.button_style.options__2.label"
						},
						{
							"value": "tertiary",
							"label": "t:sections.all.button.button_style.options__3.label"
						},
						{
							"value": "simple",
							"label": "t:sections.all.button.button_style.options__4.label"
						}
					],
					"default": "tertiary",
					"label": "t:sections.all.button.button_style.label"
				},
				{
					"type": "checkbox",
					"id": "enable_fullscreen_link",
					"label": "t:sections.media-banner.blocks.media_slide.settings.full_link.label",
					"info": "t:sections.media-banner.blocks.media_slide.settings.full_link.info",
					"default": true
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.slideshow.name",
			"blocks": [
				{
					"type": "slideshow-item"
				},
				{
					"type": "slideshow-item"
				},
				{
					"type": "slideshow-item"
				}
			]
		}
	]
}
{% endschema %}
